* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  .container {
    display: none;
    width: 75%;
    height: 70vh;
    background-color: rgb(71, 109, 109);
    margin: 100px 0px 0px 100px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
  }
  /* .heading {
    margin: 20px 0px 0px 130px;
  }
  .questionDiv {
    margin: 60px 0px 0px 120px;
  }
  .rate {
   margin: 30px 0px 0px 150px;
  }
  .rate button {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
  }
  .lastBtns {
    margin: 50px 0px 0px 110px;
  }
  .lastBtns button{
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 2px;
    color: white;
    cursor: pointer;
  }
  .prevBtn {
    float: left;
    background-color: blue;
    margin-right: 5px;
  }
  .nextBtn {
    background-color: rgb(241, 83, 110);
  }
  .pagination {
    float: right;
  }
  .blue {
    background-color: blue;
  }
  .input {
    width: 380px;
    height: 50px;
    box-shadow: 0px 0px 3px
  } */

  /* //First Div */

  /* .start img {
    margin: 20px;
  }
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #250821;
} */
/*Blob*/

 /* .blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #f1c40f; 
 border-radius: 50% / 60%;
 animation: blob 2s ease-in-out infinite;
}

@keyframes blob {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}   */